/* css para tudo */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
}

#pagina_perola{
    width: 100%;
}